.wrapper {
    margin-top: 15px;
}

.pagination {
    margin-top: 10px;
}

.sort {
    margin: 15px 0;
}

.login-form {
    width: 400px;
    margin: 200px auto;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.login-form .form-name {
    font-size: 18px;
}